<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>services</key>
	<dict/>
	<key>version</key>
	<integer>1</integer>
	<key>project_info</key>
	<dict>
		<key>is_inhouse_app</key>
		<integer>1</integer>
		<key>ak</key>
		<string>227db82121cb8be0543ab77c1fe9df41</string>
		<key>sk</key>
		<string>7f101ebf37be98341620bb81e0c60e31</string>
		<key>app_id</key>
		<string>216772358</string>
	</dict>
</dict>
</plist>
