<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>services</key>
	<dict/>
	<key>version</key>
	<integer>1</integer>
	<key>project_info</key>
	<dict>
		<key>is_inhouse_app</key>
		<integer>1</integer>
		<key>ak</key>
		<string>fbb2b408b46ae729f4896f41f79ec758</string>
		<key>sk</key>
		<string>b572b928f5afbdfcc8a2922f87c9804c</string>
		<key>app_id</key>
		<string>1361142305</string>
	</dict>
</dict>
</plist>
