<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>services</key>
	<dict/>
	<key>version</key>
	<integer>1</integer>
	<key>project_info</key>
	<dict>
		<key>is_inhouse_app</key>
		<integer>1</integer>
		<key>ak</key>
		<string>b35077cd40f5503e9f0b39fd3a0f0916</string>
		<key>sk</key>
		<string>6df88498639181c003ca478cb49b8ed5</string>
		<key>app_id</key>
		<string>10003414</string>
	</dict>
</dict>
</plist>
